# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# bundle
frontend/dist

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

backend/.env
backend/.venv

# misc
.DS_Store
*.pem