node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# bundle
frontend/dist

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

**/__pycache__
tmp

.env
.env.local
.venv

# misc
.DS_Store
*.pem

publication_api/bin
publication_api/.tools

evals/promptfoo-output.json