.backLink {
  display: block;
  box-sizing: content-box;
  padding: calc(var(--icon-size, 24px) * (1 / 4));
  text-align: start;
  border-radius: var(--layout-radius);
  max-width: 100%;
  height: var(--icon-size, 24px);
}

.backLink svg {
  fill: var(--theme-text);
  max-width: 100%;
  height: 100%;
}

.backLink img {
  max-width: 100%;
  height: 100%;
}

.backLink[data-hovered] {
  background-color: var(--theme-hover);
}

.backLink[data-focus-visible] {
  outline: 2px solid var(--theme-focus);
}

.backLink[data-disabled] {
  color: var(--theme-disable);
}

.backLink[data-disabled] svg {
  fill: var(--theme-disable);
}
