.overflowPopover {
  background-color: var(--theme-background);
  color: var(--theme-text);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--theme-text);
  position: relative;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  outline: none;
}

.menuItem[data-hovered] {
  background-color: var(--theme-hover);
}

.menuItem[data-focus-visible] {
  outline: 2px solid var(--theme-focus);
}

.menuItem > svg {
  width: calc(var(--icon-size, 24px) / 1.5);
  height: calc(var(--icon-size, 24px) / 1.5);
  fill: var(--theme-text);
}

.menuItemLabel {
  font-size: 1rem;
}

.menuItemKbdShortcut {
  font-family: monospace;
  font-weight: bold;
  color: var(--theme-subdue);
  padding: 5px;
  margin-left: auto;
  border-radius: 5px;
  border: 1px solid var(--theme-subdue);
}