.header {
  display: grid;
  grid-template-areas: "header-left header-center header-right";
  grid-template-columns: 1fr 3fr 1fr;
  padding: 0.25rem 1em 0;
}

.header h1 {
  font-size: 1rem;
  line-height: 1;
  color: var(--color-primary);
  font-weight: normal;
  grid-area: header-center;
  justify-self: center;
}

.gearButton {
  grid-area: header-right;
  width: var(--icon-size, 32px);
  height: var(--icon-size, 32px);
  justify-self: end;

  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

.gearButton svg {
  fill: var(--color-primary);
}

.readingDisplayLayoutPopover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 20px;
}

.readingDisplayLayoutLabel {
  display: block;
  font-weight: bold;
}

.readingDisplayLayoutRadioWrapper {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  text-align: center;
}

.readingDisplayLayoutRadio svg {
  width: var(--icon-size, 32px);
  height: var(--icon-size, 32px);
  fill: var(--color-primary);
}

.readingDisplayLayoutRadio span {
  display: block;
}