.icon {
  width: var(--icon-size, 32px);
  height: var(--icon-size, 32px);
  text-align: center;
}

.icon[data-focus-visible] {
  outline: auto;
}

.icon svg {
  fill: var(--color-primary);
  width: 100%;
  height: 100%;
}

.tooltip {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 5px;
  border-radius: 5px;
}

.closeButton {
  width: calc(var(--icon-size, 32px) / 1.25);
  height: calc(var(--icon-size, 32px) / 1.25);
  position: absolute;
  top: 10px;
  right: 10px;
}

.closeButton svg {
  fill: var(--color-primary);
  width: 100%;
  height: 100%;
}