#current {
  color: var(--theme-text);
  font-variant-numeric: lining-nums tabular-nums;
  transition: opacity 0.4s ease-in-out;
}

:global(.layered-ui.isImmersive:not(.isHovering)) #current {
  user-select: none;
  pointer-events: none;
  opacity: 0;
}