.pagination {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  max-width: 100%;
  background-color: var(--theme-background);
  color: var(--theme-text);
  align-items: center;
  max-width: var(--constraints-pagination, 100%);
}

.paginationListItem {
  box-sizing: border-box;
  list-style: none;
  padding-inline: calc(var(--layout-spacing) / 2);
  flex: 0 1 50%;
}

.paginationListItem:has(.nextButton) {
  margin-inline-start: auto;
}

.paginationListItem button {
  box-sizing: border-box;
  padding: calc(var(--icon-size, 24px) * (1/4)) calc(var(--layout-spacing) / 2);
  gap: calc(var(--layout-spacing) / 2);
  max-height: calc(var(--icon-size, 24px) * 2);
  width: 100%;
  border-radius: var(--layout-radius);
  display: flex;
  align-items: center;
}

.previousButton {
  justify-content: flex-start;
}

.nextButton {
  text-align: end;
  justify-content: flex-end;
}

.paginationListItem button[data-hovered] {
  background-color: var(--theme-hover);
}

.paginationListItem button[data-focus-visible] {
  outline: 2px solid var(--theme-focus);
}

.paginationListItem button[data-disabled] {
  color: var(--theme-disable);
}

.paginationListItem button .paginationLabel {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
}

:global(.compact) .paginationListItem button .paginationLabel,
:global(.medium) .paginationListItem button .paginationLabel {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

:global(.expanded) .paginationListItem button .paginationLabel,
:global(.large) .paginationListItem button .paginationLabel,
:global(.xLarge) .paginationListItem button .paginationLabel {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.paginationListItem button svg {
  flex: none;
  width: var(--icon-size, 24px);
  height: var(--icon-size, 24px);
  fill: var(--theme-text);
}