.immersive {
  /* This is the lighter we’re AA Compliant based on primary in prefs: #4d4d4d 
     see https://webaim.org/resources/contrastchecker/ */
  opacity: 0.77;
}

.immersiveHovering {
  opacity: 1;
}

.immersiveHidden {
  opacity: 0;
}

.subduedAlways {
  opacity: 1;
}

.subduedPartially {
  visibility: hidden;
}

.subduedPartiallyHovering {
  visibility: visible;
}