.readerSettingsPopover {
  background-color: var(--theme-background);
  color: var(--theme-text);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--theme-text);
  position: relative;

  /* TMP until we have all the sheets/modals */
  overflow-y: auto;
  max-height: calc(100vh - (var(--icon-size, 24px) * 6));
  max-height: calc(100dvh - (var(--icon-size, 24px) * 6));
  max-width: 300px;
  box-sizing: border-box;
  filter: drop-shadow(var(--theme-elevate));
}

.readerSettingsLabel {
  display: block;
  font-weight: bold;
}

.readerSettingsRadioWrapper {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  text-align: center;
}

.readerSettingsRadio {
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid transparent;
}

.readerSettingsRadio:not(.readerSettingsThemeRadio)[data-selected] {
  border: 2px solid var(--theme-subdue);
}

.readerSettingsRadio[data-disabled] {
  color: var(--theme-disable);
}

.readerSettingsRadio[data-hovered] {
  background-color: var(--theme-hover);
}

.readerSettingsRadio[data-focused] {
  outline: 2px solid var(--theme-focus);
}

.readerSettingsRadio svg {
  width: var(--icon-size, 32px);
  height: var(--icon-size, 32px);
  /* So that it’s the same color as text based on state */
  fill: currentColor;
}

.readerSettingsRadio span {
  display: block;
}

.readerSettingsThemesWrapper {
  /* TMP until we have all the sheets/modals */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  max-width: 100%;
  gap: 10px;
}

.readerSettingsThemeRadio {
  padding: 5px 25px;
  position: relative;
}

.readerSettingsThemeRadio svg {
  width: calc(var(--icon-size, 24px) * 5/6);
  height: calc(var(--icon-size, 24px) * 5/6);
  position: absolute;
  right: 5px;
  top: 5px;
  /* So that it’s the same color as text w/o having to expose a custom prop globally */
  fill: currentColor;
}