:root {
  /* Borrowed from Thorium src/renderer/assets/styles/variable.scss */
  --theme-text: ;
  --theme-background: ;
  --theme-link: ;
  --theme-visited: ;
  --theme-subdue: ;
  --theme-disable: ;
  --theme-hover: ;
  --theme-onHover: ;
  --theme-select: ;
  --theme-onSelect: ;
  --theme-focus: ;
  --theme-elevate: ;
  --theme-immerse: ;
}

html,
body {
  min-height: 100%;
  overflow: hidden;
  touch-action: pan-x pan-y;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

body {
  margin: 0;
  background-color: #FFFFFF;
}

#bottom-bar,
#top-bar {
  box-sizing: border-box;
  gap: 2px;
  touch-action: manipulation;
  background-color: var(--theme-background);
}

/* Necessary to have all three so that there is no offset when switching paginated/scroll */
#top-bar {
  min-height: calc(var(--icon-size, 24px) * 2.5);
  height: calc(var(--icon-size, 24px) * 2.5);
  max-height: calc(var(--icon-size, 24px) * 2.5);
}

#bottom-bar {
  height: calc(var(--icon-size, 24px) * 2.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
  background-color: var(--theme-background);
}

#wrapper {
  height: 100%;
  margin: 0;
}

#container {
  contain: content;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.readium-navigator-iframe {
  width: 100%;
  height: 100%;
  border-width: 0;
}

/* Loading spinner for resources */
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

div:has(> .readium-navigator-iframe.blank)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 5px solid grey;
  border-top-color: black;
  animation: loading 2s linear infinite;
}

button {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;

  /* Focus no outline */
  outline: none;
}

::selection {
  background-color: var(--theme-select);
  color: var(--theme-onSelect);
}