.readerSettingsPopover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--color-primary);
  position: relative;
}

.heading {
  font-size: 1.25rem;
  margin: 0 0 1rem 0;
}

.readerSettingsLabel {
  display: block;
  font-weight: bold;
}

.readerSettingsRadioWrapper {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  text-align: center;
}

.readerSettingsRadio {
  padding: 5px;
}

.readerSettingsRadio[data-selected] {
  background-color: #EAEAEA;
  border-radius: 5px;
}

.readerSettingsRadio[data-disabled] {
  opacity: 0.6;
}

.readerSettingsRadio[data-hovered],
.readerSettingsRadio[data-focused] {
  outline: auto;
}

.readerSettingsRadio svg {
  width: var(--icon-size, 32px);
  height: var(--icon-size, 32px);
  fill: var(--color-primary);
}

.readerSettingsRadio span {
  display: block;
}