.immersive {
  /* This is the lighter we’re AA Compliant (UI comps)
     based on primary in prefs: #4d4d4d (contrast > 3)
     see https://webaim.org/resources/contrastchecker/ */
  opacity: 0.6;
}

.immersiveHovering {
  opacity: 1;
}

.immersiveHidden {
  opacity: 0;
}

.subduedAlways {
  opacity: 1;
}

/* Opacity relative to .immersive */
.subduedPartially {
  opacity: 0;
}

/* Opacity relative to .immersive */
.subduedPartially[data-hovered],
.subduedPartially[data-focus-visible] {
  opacity: 1;
}

/* TMP: To hide fullscreen icon that doesn’t update properly on exit */
.immersive .subduedPartially[data-hovered] {
  opacity: 0;
}