.immersive {
  opacity: var(--theme-immerse);
}

.immersiveHovering {
  opacity: 1;
}

.immersiveHidden {
  opacity: 0;
}

.subduedAlways {
  opacity: 1;
}

/* Opacity relative to .immersive */
.subduedPartially {
  opacity: 0;
}

/* Opacity relative to .immersive */
.subduedPartially[data-hovered],
.subduedPartially[data-focus-visible] {
  opacity: 1;
}

/* TMP: To hide fullscreen icon that doesn’t update properly on exit */
.immersive .subduedPartially[data-hovered] {
  opacity: 0;
}