:root {
  /* Borrowed from Thorium src/renderer/assets/styles/variable.scss */
  --color-primary: #4d4d4d;
  --color-secondary: white;
  --color-disabled: #767676;

  --icon-size: 32px;
}

html,
body {
  min-height: 100%;
  overflow: hidden;
  touch-action: pan-x pan-y;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

body {
  margin: 0;
  background-color: #FFFFFF;
}

#bottom-bar,
#top-bar {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  touch-action: manipulation;
  background-color: #FFFFFF;
}

#bottom-bar.immersive,
#top-bar.immersive {
  opacity: 0.25;
}

#bottom-bar:hover,
#top-bar:hover {
  opacity: 1;
}

/* <Header> */

#top-bar {
  display: grid;
  grid-template-areas: "header-left header-center header-right";
  grid-template-columns: 1fr 3fr 1fr;
  padding: 0 1em;
}

#top-bar h1 {
  font-size: 1rem;
  line-height: 1;
  color: var(--color-primary);
  font-weight: normal;
  grid-area: header-center;
  justify-self: center;
}

#top-bar .react-aria-Button {
  grid-area: header-right;
  width: var(--icon-size);
  height: var(--icon-size);
  justify-self: end;

  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

#top-bar .react-aria-Button svg {
  fill: var(--color-primary);
  stroke: var(--color-primary);
}

.react-aria-Popover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  text-align: center;
}

.react-aria-Popover span {
  display: block;
}

.react-aria-Popover .react-aria-Radio svg {
  width: 32px;
  height: 32px;
}

.react-aria-Popover svg {
  fill: var(--color-primary);
  stroke: var(--color-primary);
}

/* </Header> */

#wrapper {
  height: calc(100vh - 96px);
  height: calc(100dvh - 96px); /* New browsers */
  display: flex;
  margin: 0;
}

#container {
  contain: content;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.readium-navigator-iframe {
  width: 100%;
  height: 100%;
  border-width: 0;
}

/* Loading spinner for resources */
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

div:has(> .readium-navigator-iframe.blank)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 5px solid grey;
  border-top-color: black;
  animation: loading 2s linear infinite;
}