.immersive {
  opacity: 0.25;
}

.immersiveHovering {
  opacity: 1;
}

.immersiveHidden {
  opacity: 0;
}

.subduedAlways {
  opacity: 1;
}

.subduedPartially {
  display: none;
}

.subduedPartiallyHovering {
  display: initial;
}