/* React Aria modal provides a visual viewport for mobile + keyboard: --visual-viewport-height 
   which should explain why it’s being used here while not mentioned anywhere else in the codebase */

.fullScreenSheet {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-height: var(--visual-viewport-height, 100dvh);
  background-color: var(--theme-background);
  color: var(--theme-text);
  align-items: center;
}

.popOverSheet {
  overflow-y: auto;
  box-sizing: border-box;
  width: calc(340px + (2 * var(--layout-spacing)));
  max-width: var(--maxSheetsWidth-popover, 500px);
  max-height: 100%;
  max-height: var(--visual-viewport-height, 100dvh);
  padding: 0;
  background-color: var(--theme-background);
  color: var(--theme-text);
  border-radius: var(--layout-radius);
  border: 1px solid var(--theme-subdue);
  filter: drop-shadow(var(--theme-elevate));
}

.draggableBottomSheetOverlay[data-rsbs-backdrop] {
  height: 100vh;
  position: fixed;
  top: -100vh;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.draggableBottomSheetModal {
  /* max-width: var(--maxSheetsWidth-bottomSheet, 600px) */
  border: 1px solid var(--theme-subdue);
  filter: drop-shadow(var(--theme-elevate));
  z-index: 4;
}

.draggableBottomSheet {
  overflow-y: auto;
  box-sizing: border-box;
  max-height: 100%;
  padding: 0;
  background-color: var(--theme-background);
  color: var(--theme-text);
}

.dockedSheet {
  overflow-y: auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  height: 100dvh;
  background-color: var(--theme-background);
  color: var(--theme-text);
}

.dockedSheetLeftBorder {
  border-right: 1px solid var(--theme-subdue);
}

.dockedSheetRightBorder {
  border-left: 1px solid var(--theme-subdue);
}

.sheetDialog {
  outline: none;
}

.sheetHeader {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: calc(var(--layout-spacing) / 2) var(--layout-spacing);
  background-color: var(--theme-background);
  border-bottom: 1px solid var(--theme-subdue);
}

.draggableBottomSheetHeader {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: var(--theme-background);
}

.sheetHeading {
  font-size: 1.25rem;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.sheetBody {
  padding: var(--layout-spacing);
}