.toc {
  background-color: var(--theme-background);
  color: var(--theme-text);
  position: relative;
  overflow-y: auto;
  box-sizing: border-box;
  max-height: 100%;
  padding: 0;
}

.listBox {
  max-height: calc(100vh - (var(--icon-size, 24px) * 6));
  max-height: calc(100dvh - (var(--icon-size, 24px) * 6));
  overflow-y: scroll;
}

.listItem {
  display: block;
}

.empty {
  max-width: 25ch;
  text-align: start;
  text-wrap: balance;
}