.tocPopover {
  background-color: var(--theme-background);
  color: var(--theme-text);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--theme-text);
  position: relative;
  max-height: 100%;
  filter: drop-shadow(var(--theme-elevate));
}

.listBox {
  max-height: calc(100vh - (var(--icon-size, 24px) * 6));
  max-height: calc(100dvh - (var(--icon-size, 24px) * 6));
  overflow-y: scroll;
}

.listItem {
  display: block;
}

.empty {
  padding: 10px;
  max-width: 25ch;
  text-align: start;
  text-wrap: balance;
}